@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #3F5EFB;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.App-content {
  margin: 100px 250px;
  padding: 10px 10px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: auto
}

.Input-app {
  height: 30px;
  display: flex;
  gap: 20px;
}

.Input-app input {
  border-radius: 10px;
  border-color: grey;
  text-align: center;
}

.buttons-App {
  display: flex;
  gap: 10px;
}

.buttons-App button {
  width: 90px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  transition: 500ms ease;
}

.buttons-App button:hover {
  transform: scale(1.1);
}

.App h1 {
  font-weight: 800;
}
 
a {
  position: absolute; bottom: 10px; right: 10px;
}

img {
  max-width: 100%;
  height: auto;
}